{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true
  },
  "plugins": [
    "react",
  ],
  "globals": {
    "React": false,
  },
  "rules": {
    "no-multi-str": 0,
    "no-restricted-syntax": 1,
    "react/jsx-no-undef": 0,
    "func-names": 0,
    "no-undef": 0,
    "strict": 0,
    "quotes": 0,
    "no-unused-vars": 0,
    "camelcase": 0,
    "no-underscore-dangle": 0
  },
  "ecmaFeatures": {
    "jsx": true
  },
}
