h1 Hello Admin
= p @admin.email

h2 All Classes
/ TODO(nnarayen 10/7): remove gon example
= include_gon(init: true, watch: true)
= react_component "ClassroomsTable", { \
  status: "active",                    \
}
