.teacher-account-container
  = react_component "ChangePasswordForm", { \
      show_old_password: false,             \
      reset_token: @token,                  \
      model: @model                         \
  }
