@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import "variables";
@import "mixins";

// reused styles and layouts go here

* {
  box-sizing: border-box;
}

html, body {
  font-family: Lato, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $gray-background;
  color: $gray-dark;
}

.navbar {
  background: $gray-dark;
  border: 0;
  border-radius: 0;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-inverse {
  .navbar-brand {
    color: white;
    font-weight: bold;
    padding-left: 0;
  }

  .navbar-nav {
    li {
      a {
        color: $white-72;
        transition: $fast;

        &:hover {
          color: $white;
        }
      }
    }
  }
}

.content-container {
  background: white;
  border: 1px solid $gray-light;
  border-radius: 2px;
  margin: 40px auto;
  max-width: 1200px;
  padding: 20px;
}

.input-container {
  margin: 20px auto;
  @include appearance(none);

  label {
    display: block;
    font-weight: 600;
    text-align: left;
  }

  input {
    border: 1px solid $gray-light;
    border-radius: 3px;
    box-shadow: none;
    height: auto;
    padding: 10px;
    font-size: $f-size-sm;
    width: 100%;

    &:focus {
      border: 1px solid $gray-dark-60;
      outline: none;
    }
  }

  select {
    @include appearance(none);
    background-image: image-url("icons/menulist.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
    border: 1px solid $gray-light;
    border-radius: 3px;
    box-shadow: none;
    height: auto;
    padding: 10px;
    padding-right: 30px;
    font-size: $f-size-sm;
    width: auto;
  }
}

.button {
  background: white;
  border: 1px solid $gray-dark-24;
  border-radius: 3px;
  color: black;
  font-weight: 700;
  margin: 20px auto;
  outline: none;
  opacity: 0.85;
  padding: 10px 20px;
  transition: $faster;
  -webkit-user-select: none;
  @include appearance(none);

  &:hover {
    border-color: $gray-dark-48;
    opacity: 1;
  }

  &.button-small {
    padding: 5px 15px;
  }

  .fa {
    margin-right: 5px;
  }
}

.submit-button {
  @extend .button;
  background: $blue-84;
  border-color: $blue;
  color: white;

  &:hover {
    border-color: $blue-dark;
  }

  &:focus {
    background: $blue;
  }
}

.submit-button-o {
  @extend .button;
  border-color: $blue-36;
  color: $blue;

  &:hover {
    border-color: $blue;
  }

  &:focus {
    border-color: $blue-84;
  }
}

a.button {
  color: initial;
  text-decoration: none;

  &:hover {
    color: initial;
    text-decoration: none;
  }

  &:focus {
    color: initial;
    text-decoration: none;
  }
}

.table {
  width: 100%;

  thead {
    background: $gray-dark;
    color: white;
    padding: 20px;

    th {
      padding: 10px;

      &:first-of-type {
        padding-left: 30px;
      }
    }

    .score {
      width: 170px;
    }

    .trash-col {
      table-layout: fixed;
      width: 50px;
    }
  }

  tbody {

    tr {
      border-bottom: 1px solid $gray-light;

      .delete-control {
        visibility: hidden;
        padding: 3px;
      }

      .fa {
        color: $red-60;
        font-size: $f-size-md;
      }

      &:hover {
        background: $gray-light-48;

        .delete-control {
          cursor: pointer;
          visibility: visible;
        }

        .fa:hover {
          color: $red;
        }
      }
    }

    td {
      padding: 15px 10px;

      &.name {
        font-weight: bold;
      }

      &:first-of-type {
        padding-left: 30px;
      }

      &:last-of-type {
        padding-right: 30px;
      }
    }

  }
}

/* >>>> Overriding Bootstrap <<<< */

.bootstrap-select {
  button {
    border: 1px solid $gray-light;
    border-radius: 3px;
    box-shadow: none;
    font-size: $f-size-sm;
    height: auto;
    outline: none;
    padding: 10px;

    .caret {
      opacity: 0.5;
    }

    &:hover {
      background-color: initial;
      border-color: $gray-light;
    }

    &:focus {
      background-color: initial;
      border-color: initial;
    }
  }

  .btn:focus {
    background: white;
    box-shadow: none;

    .dropdown-toggle {
      box-shadow: none;
    }
  }
}

.daterangepicker {
  .input-mini {
    border-radius: 2px;
  }

  .input-mini.active {
    background: $blue;
    color: $white;
    font-weight: bold;

    & ~ .fa {
      color: $white;
    }
  }

  td.active,
  td.start-date,
  td.end-date {
    background: $blue;
  }
}
/* Dropdown Menu */

.dropdown-menu {
  border-radius: 2px;
  box-shadow: 1px 2px 5px $gray-dark-12;
}

.dropdown-menu.open {
  border-radius: 2px;
  box-shadow: none;

  .bs-searchbox {
    margin-bottom: 5px;
  }
}

.dropdown-toggle .caret {
  margin-left: 4px;
}

.form-control:focus {
  box-shadow: none;
}

ul.dropdown-menu li.dropdown-link a {
  color: $gray-dark;

  &:hover {
    color: $gray-dark;
  }
}

/* Onboarding Popover */

.popover {
  border-radius: 4px;
  border: 1px solid $gray-dark-24;
  box-shadow: 0 0 10px $gray-dark-24;
  font-family: Lato, Helvetica, sans-serif;
  z-index: 100;

  .popover-content {
    font-size: $f-size-md;
    position: relative;

    .tour-counter {
      font-size: $f-size-sm;
      left: 14px;
    }

    .tour-close {
      box-shadow: none;
    }

    .tour-close:after {
      content: "\f00d";
      cursor: pointer;
      font-family: "FontAwesome";
      position: absolute;
      right: 12px;
      top: 8px;
    }
  }

  .btn {
    @extend .button.button-small;
    margin: 0;
  }

  .tour-next {
    @extend .submit-button;
  }

  .tour-close.btn-primary {
    @extend .submit-button.button-small;
    background: $teal;
    float: right;
    font-weight: 600;
  }

  .tour-container {
    padding: 0 5px;
    padding-right: 10px;
  }

  .tour-buttons {
      border-radius: 0px 0px 4px 4px;
      padding: 10px;
  }
}
