@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import "variables";
@import "mixins";

// reused styles and layouts go here

* {
  box-sizing: border-box;
}

html, body {
  font-family: Lato, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $gray-background;
  color: $gray-dark;
}

.content-container {
  background: white;
  border: 1px solid $gray-light;
  border-radius: 2px;
  margin: 40px auto;
  max-width: 1200px;
  padding: 20px;
}

.input-container {
  margin: 20px auto;
  @include appearance(none);

  label {
    display: block;
    font-weight: 600;
    text-align: left;
  }

  input {
    border: 1px solid $gray-light;
    border-radius: 3px;
    padding: 10px;
    font-size: $f-size-sm;
    width: 100%;

    &:focus {
      border: 1px solid $gray-dark-60;
      outline: none;
    }
  }
}

.button {
  background: none;
  border: 1px solid $gray-light;
  border-radius: 3px;
  color: black;
  font-weight: 700;
  margin: 20px auto;
  outline: none;
  opacity: 0.85;
  padding: 10px 20px;
  transition: $faster;
  @include appearance(none);

  &:hover {
    border-color: $gray-dark-48;
    opacity: 1;
  }
}

.submit-button {
  @extend .button;
  background: $blue-84;
  color: white;

  &:hover {
    border-color: $blue;
  }

  &:focus {
    background: $blue;
  }
}





// overriding bootstrap styles
.bootstrap-select {
  button {
    border: 1px solid $gray-light;
    border-radius: 3px;
    box-shadow: none;
    font-size: $f-size-sm;
    height: auto;
    outline: none;
    padding: 10px;

    .caret {
      opacity: 0.5;
    }

    &:hover {
      background-color: initial;
      border-color: $gray-light;
    }

    &:focus {
      background-color: initial;
      border-color: initial;
    }
  }

  .btn:focus {
    background: white;
    box-shadow: none;
    outline: none !important;
  }

  &.open {
    button, button:focus, button:hover {
      background: white !important;
      box-shadow: none;
      outline: none;
    }
    .dropdown-toggle {
      box-shadow: none;
    }
  }
}

.dropdown-menu.open {
  border-radius: 2px;
  box-shadow: none;

  .bs-searchbox {
    margin-bottom: 5px;
  }
}

.form-control:focus {
  box-shadow: none;
}
