// background color
$gray-background             : #F7F7F7;

// $gray-dark is the main text color for light backgrounds
$gray-dark                   : #3E444F;
$gray-dark-84                : rgba($gray-dark, 0.84);
$gray-dark-72                : rgba($gray-dark, 0.72);
$gray-dark-60                : rgba($gray-dark, 0.60);
$gray-dark-48                : rgba($gray-dark, 0.48);
$gray-dark-36                : rgba($gray-dark, 0.36);
$gray-dark-24                : rgba($gray-dark, 0.24);
$gray-dark-12                : rgba($gray-dark, 0.12);

// $gray-light is used for borders
$gray-light                  : #E1E1E1;
$gray-light-48               : rgba($gray-light, 0.48);

// these colors are subject to change
$red                    : #E2173D;
$red-84                 : rgba($red, 0.84);
$red-60                 : rgba($red, 0.60);
$red-36                 : rgba($red, 0.36);
$red-24                 : rgba($red, 0.24);
$red-12                 : rgba($red, 0.12);
$red-06                 : rgba($red, 0.06);

$blue-dark              : #008CC3;
$blue                   : #0097D6;
$blue-84                : rgba($blue, 0.84);
$blue-60                : rgba($blue, 0.60);
$blue-36                : rgba($blue, 0.36);
$blue-24                : rgba($blue, 0.24);
$blue-12                : rgba($blue, 0.12);
$blue-06                : rgba($blue, 0.06);

$orange                  : #F47E24;
$orange-84               : rgba($orange, 0.84);
$orange-60               : rgba($orange, 0.60);
$orange-36               : rgba($orange, 0.36);
$orange-24               : rgba($orange, 0.24);
$orange-12               : rgba($orange, 0.12);
$orange-06               : rgba($orange, 0.06);

$teal                   : #009688;
$teal-60                : rgba($teal, 0.60);
$teal-36                : rgba($teal, 0.36);
$teal-24                : rgba($teal, 0.24);
$teal-06                : rgba($teal, 0.60);

$white                   : #FFFFFF;
$white-84                : rgba($white, 0.84);
$white-72                : rgba($white, 0.72);
$white-60                : rgba($white, 0.60);
$white-48                : rgba($white, 0.48);
$white-36                : rgba($white, 0.36);
$white-24                : rgba($white, 0.24);
$white-12                : rgba($white, 0.12);

// font size
$f-size-title           : 36px;
$f-size-xxl             : 26px;
$f-size-xl              : 20px;
$f-size-lg              : 18px;
$f-size-md              : 16px;
$f-size-sm              : 14px;
$f-size-xs              : 12px;
$f-size-xxs             : 11px;

// transition times
$faster                 : 100ms;
$fast                   : 200ms;
$medium                 : 300ms;
