$color-list: $red $orange $blue;

.card-container {
  @extend .content-container;
  background: transparent;
  border: none;
  margin: 0 auto;
  max-width: 1200px;

  .card-group-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }

  .card-group-inactive .card {
    opacity: 0.5;
  }

  .card-container-title {
    color: $gray-dark-72;
    font-size: $f-size-xl;
    font-weight: bold;
    width: 100%;
  }

  .card-col {
    padding: 15px;
    width: 33.33%;

    @media (min-width: 960px) {
      &:nth-of-type(3n) {
        padding-right: 0;
      }

      &:nth-of-type(3n-2) {
        padding-left: 0;
      }
    }
  }

  .card-col a {
    text-decoration: none;
    color: $gray-dark-84;
  }

  .card {
    background: white;
    border: 1px solid $gray-light;
    border-right: 0;
    cursor: pointer;
    height: 100%;
    padding: 20px;
    position: relative;
    transition: 100ms;
  }

  .name-container {
    padding-right: 10px;
    width: 75%;
  }

  .title {
    color: $gray-dark-84;
    font-size: 23px;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .subtitle {
    color: $gray-dark-84;
    font-size: $f-size-md;
    margin: 0;

    .count {
      font-weight: bold;
    }
  }

  .count-container {
    height: 100%;
    padding-top: 20px;
    padding-right: 20px;
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    width: 25%;

    .count {
      font-size: 28px;
      margin: 0;
      margin-bottom: 5px;
    }

    .count-label {
      color: $gray-dark-84;
      font-size: $f-size-md;
      margin: 0;
    }
  }

  .card-color-bar {
    background: $gray-dark-60;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
  }

  @each $color in $color-list {
    $i: index($color-list, $color);
    .classroom-#{$i}:hover {
      border-color: rgba(nth($color-list, $i), 0.36);
    }

    .classroom-#{$i} .card-color-bar {
      background: nth($color-list, $i);
    }
  }

  .add-card {
    background: transparent;
    border: 1px dashed $gray-dark-36;
    border-radius: 3px;
    color: $gray-dark-60;
    font-size: $f-size-lg;
    font-weight: bold;
    padding: 32px 20px;
    text-align: center;
    transition: 100ms;

    &:hover {
      border: 1px solid $blue;
      color: $blue;
    }

    .fa {
      margin-right: 10px;
    }
  }

  @media (max-width: 960px) and (min-width: 650px) {
    .card-col {
      width: 50%;

      &:nth-of-type(even) {
        padding-right: 0;
      }

      &:nth-of-type(odd) {
        padding-left: 0;
      }
    }
  }

  @media (max-width: 650px) {
    .card-container {
      padding: 20px;
    }
    .card-col {
      padding: 7px 0;
      width: 100%;
    }
  }
}
