// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";


//general components
/* various containers */
.wide-container, .medium-container, .small-container {
  display: block;
  text-align: center;
  margin: auto;
}

/* use this for banners and screen-wide content */
.wide-container {
  width: 100%;
  overflow: auto;
}

.medium-container {
  width: 1000px;
}

/* use this for body text */
.small-container {
 width: 600px;
}

/* Use spacers to space your paragraphs and individual elements rather than <br> or css margins. Spacers
   are divs with one of the following three classes. See home.html.erb for an example of spacer use. */
.spacer-small {
  width: 100%;
  height: 30px;
}
.spacer {
  width: 100%;
  height: 75px;
}
.spacer-large {
  width: 100%;
  height: 150px;
}

//classroom
.classroom-card {
  width: 80%;
  height: 80%;
  border: 2px solid #D3D3D3;
  margin-bottom: 50px;
  padding: 10px;
  cursor: pointer;
  cursor: hand;
}

.classroom-name {
  width: 50%;
  height: 100%;
}

.classroom-count {
  width: 50%;
  height: 100%;
}

.classroom-hidden {
  display: None;
}

.add-course {
  border: 2px dashed #D3D3D3;
  width: 80%;
  height: 80%;
  margin-bottom: 50px;
  padding: 10px;
}

.inactive-classroom {
  opacity: 0.4;
}
