$color-list: $red $orange $blue;
$icon-list: "\f0b1" "\f008" "\f201";

.admin-program-container {
  .name-container {
    width: 100%;
  }
}

.admin-view-container {

  .infobox-col {
    width: 25%;
  }

  .table-col {
    width: 75%;
  }

  .program-info-box {
    padding: 0;
  }

  .infobox-title {
    background: $gray-dark;
    color: white;
    margin-bottom: 0;
    padding: 10px 15px;
  }

  @each $color in $color-list {
    $i: index($color-list, $color);
    .program-#{$i} {
      background: nth($color-list, $i);
      color: white;
    }

    .program-#{$i}:before {
      content: nth($icon-list, $i);
      font-family: 'FontAwesome';
      margin-right: 5px;
    }
  }

  .classroom-program {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0;
    vertical-align: middle;
    &:before {
      vertical-align: middle;
    }
  }

  .toggle-container {
    bottom: 0;
    position: absolute;
    right: 0;

    .toggle {
      display: none;
    }

    .toggle-btn {
      background: $gray-light;
      border-radius: 30px;
      height: 31px;
      margin-bottom: 0;
      position: relative;
      transition: 100ms;
      width: 60px;

      &:after {
        border-radius: 50%;
        background: white;
        content: '';
        left: 2px;
        position: absolute;
        height: 25px;
        top: 3px;
        transition: 100ms;
        width: 25px;
      }
    }

    .toggle-true {
      background: #9FD6AE;

      &:after {
        left: 53%;
      }
    }
  }

  .grid-label {
    font-size: $f-size-sm;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
  }

  .info-box-content {
    padding: 20px;
  }

  .program-status-container {
    position: relative;
    margin-bottom: 20px;
  }

  @media (max-width: 830px) {
    .class-info-container {
      float: left;
    }
  }

}

.admin-spinner {
  width: 100%;
}

.admin-filter-container {
  .download-button {
    &:hover {
      color: initial;
      text-decoration: none;
    }

    &:focus {
      color: initial;
      text-decoration: none;
    }
  }
}

.teacher-classroom-filter {
  display: inline-block;
  margin-bottom: 0;
}

.classroom-status-filter {
  display: inline-block;
}

.classroom-status-select {
  @include appearance(none);
  background-color: white;
  background-image: image-url("icons/menulist.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  border: 1px solid $gray-dark-24;
  border-radius: 3px;
  margin-right: 15px;
  outline: none;
  padding: 10px 15px;
  padding-right: 30px;
  transition: $fast;

  &:hover {
    border-color: $gray-dark-48;
  }
}

.filter-form-container {
  border: 1px solid $gray-dark-24;
  border-radius: 3px;
  margin-bottom: 35px;
  padding: 20px 30px;

  h1 {
    color: $gray-dark-60;
    font-size: $f-size-md;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 12px;
  }
}

.update-success-label {
  background-color: $blue-60;
  border-radius: 2px;
  color: white;
  font-size: 13px;
  margin-left: 20px;
  padding: 4px 7px;
  text-transform: none;
  visibility: hidden;
  @include prefixer(animation, blank);

  .fa {
    margin-right: 4px;
  }
}

@keyframes show-confirm {
  0%   {visibility: hidden; opacity: 0;}
  8%  {visibility: visible; opacity: 1;}
  85%  {visibility: visible; opacity: 1;}
  100% {visibility: hidden; opacity: 0;}
}

.filter-input-container {
  @extend .input-container;
  float: right;
  margin: 0;
  margin-bottom: 0;
}

.date-input-container {
  @extend .input-container;
  display: inline-block;
  margin: 0;
  min-width: 250px;
  vertical-align: top;
}

.filter-options {
  display: inline-block;

  .select-options {
    float: left;
    margin-right: 15px;
  }
}

.admin-submit-button {
  @extend .submit-button;
  margin: 0;
  margin-left: 10px;
  vertical-align: top;
}

.admin-table-header {
  margin-bottom: 20px;
  position: relative;
  @include clearAfter;
}

.admin-table-title {
  display: inline-block;
  font-size: $f-size-xl;
  font-weight: 600;
  margin: 0 auto;
}

.dropdown {
  display: inline-block;
  float: right;

  .dropdown-menu {
    left: initial;
    right: 0;
  }

  .dropdown-link a {
    padding: 4px 14px;
  }

  .fa {
    margin-right: 7px;
  }
}

.download-dropdown-button {
  margin: 0;

  .caret {
    margin-left: 4px;
  }
}

.admin-table {
  margin-bottom: 40px;

  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.form-questions-container {

  .input-container {
    margin: 10px auto;
  }

  .edit-button-container {
    margin-top: 20px;

    input {
      margin: 0;
      margin-right: 10px;
    }
  }

  .add-option-button {
    background: transparent;
    border: 1px dashed $gray-dark-48;
    border-radius: 3px;
    outline: none;
    padding: 7px 10px;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 27px;
    font-size: 12px;
    transition: 100ms;
    width: calc(100% - 46px);

    &:hover {
      background: white;
      border: 1px solid $gray-dark-60;
    }

    .fa {
      margin-left: 0;
      margin-right: 5px;
    }
  }

  .delete-question-button {
    color: $red;
    float: right;
    margin-right: 15px;
    cursor: pointer;
  }

  .radio-option {
    input, label {
      display: inline-block;
      width: auto;
    }

    input[type="text"] {
      margin: 5px 0px 5px 0px;
      min-width: 100%;
      padding: 5px 10px;
    }
  }

  .question-delete {
    color: $blue-84;
    width: 11px;
    margin-left: 8px;
    cursor: pointer;
    transition: $fast;

    &:hover {
      color: $red-84;
    }

    // disable pointer events on icon because we want the <a> to always
    // be the target of the event
    span {
      pointer-events: none;
    }
  }

  .button {
    width: auto;
  }
}
