.admin-view-container {
  @extend .content-container;
  background: transparent;
  border: none;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1200px;
  min-width: 1050px;
  padding: 0;
}

.admin-spinner {
  width: 100%;
}

.admin-filter-container {
  .download-button {
    float: right;
    margin: 0;

    &:hover {
      color: initial;
      text-decoration: none;
    }

    &:focus {
      color: initial;
      text-decoration: none;
    }
  }
}

.teacher-classroom-filter {
  display: inline-block;
}

.classroom-status-filter {
  display: inline-block;
  margin-left: 15px;
}

.classroom-status-select {
  @include appearance(none);
  background-image: image-url("icons/menulist.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  border: none;
  border-bottom: 2px solid $gray-light;
  border-radius: 0;
  font-size: $f-size-xl;
  margin-right: 15px;
  outline: none;
  padding-bottom: 8px;
  padding-right: 30px;
  transition: $fast;

  &:hover {
    border-color: $gray-dark-48;
  }
}

.filter-input-container {
  @extend .input-container;
  float: right;
  margin: 0;
  margin-bottom: 30px;
}

.date-input-container {
  @extend .input-container;
  display: inline-block;
  margin: 0;
  min-width: 200px;
}

.filter-options {
  display: inline-block;
  // TODO(liang): setting the filter-options width manually is pretty hacky. we should
  // find more sustainable way to do this later.
  // width: 69%;

  .select-options {
    float: left;
  }
}

.admin-submit-button {
  @extend .submit-button;
  margin: 0;
  margin-left: 10px;
  vertical-align: top;
}

.admin-table-title {
  font-size: $f-size-xl;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 0;
}

.admin-table {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.form-questions-container {

  .input-container {
    margin: 10px auto;
  }

  .edit-button-container {
    margin-top: 20px;

    input {
      margin: 0;
      margin-right: 10px;
    }
  }

  .edit-question-button {
    cursor: pointer;
    font-size: $f-size-xs;
    margin-left: 10px;
    padding: 0 7px;

    .fa {
      margin-left: 0;
      margin-right: 5px;
    }
  }

  .delete-question-button {
    color: $red;
    float: right;
    margin-right: 15px;
  }

  .radio-option {
    input, label {
      display: inline-block;
      width: auto;
    }

    input[type="text"] {
      margin: 5px auto 5px 15px;
      min-width: 90%;
      padding: 5px 10px;
    }
  }

  .button {
    width: auto;
  }
}
