.admin-view-container {
  @extend .content-container;
  background: transparent;
  border: none;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1200px;
  min-width: 1050px;
  padding: 0 20px;
}

.admin-spinner {
  width: 100%;
}

.admin-filter-container {
  .download-button {
    &:hover {
      color: initial;
      text-decoration: none;
    }

    &:focus {
      color: initial;
      text-decoration: none;
    }
  }
}

.teacher-classroom-filter {
  display: inline-block;
  margin-bottom: 0;
}

.classroom-status-filter {
  display: inline-block;
  margin-left: 15px;
}

.classroom-status-select {
  @include appearance(none);
  background-color: transparent;
  background-image: image-url("icons/menulist.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
  border: none;
  border-bottom: 2px solid $gray-light;
  border-radius: 0;
  font-size: $f-size-xl;
  margin-right: 15px;
  outline: none;
  padding-bottom: 8px;
  padding-right: 30px;
  transition: $fast;

  &:hover {
    border-color: $gray-dark-48;
  }
}

.filter-form-container {
  border: 1px solid $gray-dark-24;
  border-radius: 3px;
  margin-bottom: 35px;
  padding: 20px 30px;

  h1 {
    color: $gray-dark-60;
    font-size: $f-size-md;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 12px;
  }
}

.update-success-label {
  background-color: $blue-60;
  border-radius: 2px;
  color: white;
  font-size: 13px;
  margin-left: 20px;
  padding: 4px 7px;
  text-transform: none;
  visibility: hidden;
  @include prefixer(animation, blank);

  .fa {
    margin-right: 4px;
  }
}

@keyframes show-confirm {
  0%   {visibility: hidden; opacity: 0;}
  8%  {visibility: visible; opacity: 1;}
  85%  {visibility: visible; opacity: 1;}
  100% {visibility: hidden; opacity: 0;}
}

.filter-input-container {
  @extend .input-container;
  float: right;
  margin: 0;
  margin-bottom: 0;
}

.date-input-container {
  @extend .input-container;
  display: inline-block;
  margin: 0;
  min-width: 250px;
  vertical-align: top;
}

.filter-options {
  display: inline-block;

  .select-options {
    float: left;
    margin-right: 15px;
  }
}

.admin-submit-button {
  @extend .submit-button;
  margin: 0;
  margin-left: 10px;
  vertical-align: top;
}

.admin-table-header {
  margin-bottom: 20px;
  position: relative;
  @include clearAfter;
}

.admin-table-title {
  display: inline-block;
  font-size: $f-size-xl;
  font-weight: 600;
  margin: 0 auto;
}

.dropdown {
  display: inline-block;
  float: right;

  .dropdown-menu {
    left: initial;
    right: 0;
  }

  .dropdown-link a {
    padding: 4px 14px;
  }

  .fa {
    margin-right: 7px;
  }
}

.download-dropdown-button {
  margin: 0;

  .caret {
    margin-left: 4px;
  }
}

.admin-table {
  margin-bottom: 40px;

  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.form-questions-container {

  .input-container {
    margin: 10px auto;
  }

  .edit-button-container {
    margin-top: 20px;

    input {
      margin: 0;
      margin-right: 10px;
    }
  }

  .edit-question-button {
    cursor: pointer;
    font-size: $f-size-xs;
    margin-left: 10px;
    padding: 0 7px;

    .fa {
      margin-left: 0;
      margin-right: 5px;
    }
  }

  .delete-question-button {
    cursor: pointer;
    color: $red-84;
    font-size: $f-size-xs;
    margin-left: 10px;
    padding: 0 7px;

    .fa {
      margin-left: 0;
      margin-right: 5px;
    }
  }

  .radio-option {
    input, label {
      display: inline-block;
      width: auto;
    }

    input[type="text"] {
      margin: 5px auto 5px 15px;
      min-width: 90%;
      padding: 5px 10px;
    }
  }

  .button {
    width: auto;
  }
}
