$color-list: $red $orange $blue;
$icon-list: "\f0b1" "\f008" "\f201";

.classroom-view-container {
  @extend .content-container;
  background: transparent;
  border: none;
  margin: 0 auto;
  margin-top: 25px;
  max-width: 1200px;
  position: relative;
  @include clearAfter;
}

.class-info-container {
  float: left;
  padding-right: 20px;
  width: 30%;
}

.student-info-container {
  float: right;
  padding-left: 20px;
  width: 70%;
}

.class-title-container {
  margin-bottom: 25px;
}

.classroom-name {
  font-size: $f-size-xxl;
  font-weight: 600;
  margin: 0;
}

.classroom-program {
  font-size: $f-size-md;
  margin-top: 0;

  @each $color in $color-list {
    $i: index($color-list, $color);
    &.classroom-#{$i} {
      color: nth($color-list, $i);
    }

    &.classroom-#{$i}:before {
      content: nth($icon-list, $i);
      font-family: 'FontAwesome';
      margin-right: 5px;
    }
  }
}

.class-info-box {
  @extend .content-container;
  color: $gray-dark;
  float: left;
  margin: 0;
  padding: 30px;
  width: 100%;

  h1 {
    font-size: $f-size-lg;
    font-weight: bold;
    margin: 0;
    margin-bottom: 25px;
  }

  .info-grid {
    display: flex;
    flex-flow: row wrap;

    .grid-label {
      font-size: $f-size-sm;
      font-weight: 600;
      margin: 0;
      margin-bottom: 5px;
    }
  }

  .class-info-item {
    display: inline-block;
    margin-bottom: 17px;
    width: 50%;

    &:nth-child(even) {
      padding-left: 10px;
    }

    &:nth-child(odd) {
      padding-right: 10px;
    }
  }

  .fa {
    margin-right: 7px;
  }

  .info-data {
    &.number {
      font-size: $f-size-xl;
    }
  }

  .edit-button-container {
    margin-top: 10px;

    input {
      @extend .button-small;
      margin: 0;
      margin-right: 10px;
    }
  }
}

.student-table-action-bar {
  margin-top: 30px;
  text-align: right;
  @include clearAfter;

  .action-item {
    display: inline-block;
    margin: 0 5px;

    .add-card {
      cursor: pointer;
    }
  }

  .create-item {
    margin-right: 0;
  }

  .button {
    margin-top: 0;
  }
}

.student-table-container {
  @extend .content-container;
  min-height: 500px;
  padding: 0;
  position: relative;
  margin: 0;
  width: 100%;
}

.empty-table-container {
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100%;
  @include transform(translateX(-50%) translateY(-50%));

  h1 {
    font-size: $f-size-lg;
    text-align: center;
  }
}

.delete-item {
  .delete-button {
    margin-bottom: 0;

    &:hover {
      border-color: $red-36;
      color: $red-84;
    }
  }
}

.additional-info-item {
  .additional-info-button {
    margin-bottom: 0;

    &:hover {
      border-color: $red-36;
      color: $red-84;
    }
  }
}

.upload-roster-container {
  margin: 20px 0;
  text-align: center;

  input {
    display: none;
  }

  label {
    cursor: pointer;
    margin-bottom: 0;

    &.upload-true {
      border-color: $blue-36;

      .fa {
        color: $blue;
      }
    }
  }

  .fa {
    color: $gray-dark-72;
    margin-right: 5px;
  }
}

.upload-warning {
  color: $red;
  text-align: center;
}

.upload-button {
  margin: 0;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;

    &:hover {
      opacity: 0.6;
    }
  }
}

@media (max-width: 980px) {
  .class-info-container {
    float: left;
    padding-right: 15px;
    width: 35%;
  }

  .student-info-container {
    float: right;
    padding-left: 15px;
    width: 65%;
  }
}

@media (max-width: 800px) {
  .classroom-view-container {
    margin-top: 0;
  }

  .class-info-container {
    float: none;
    padding-right: 0;
    width: 100%;
  }

  .class-info-box {
    float: none;
  }

  .student-info-container {
    float: none;
    padding-left: 0;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .student-table-action-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .action-item {
      margin: 0;
      margin-bottom: 15px;
      text-align: center;
      width: 48%;
    }

    .upload-button {
      margin-bottom: 0;
      text-align: center;
      width: 100%;
    }

    .create-item {
      margin-bottom: 25px;
      width: 100%;

      .add-card {
        margin-bottom: 0;
        width: 100%;
      }
    }
  }
}
