$color-list: $red-84 $orange $blue;
$icon-list: "\f0b1" "\f008" "\f201";

.form-container {
  @extend .content-container;
  max-width: 700px;
  padding: 0;
}

.title-container {
  background: $blue;
  color: white;
  height: 100%;
  overflow: auto;
  padding: 50px 45px;
  @include clearAfter;

  .program-name {
    font-size: $f-size-xl;

    h1 {
      display: inline-block;
      font-size: $f-size-xl;
      margin: 0;
      margin-left: 5px;
    }
  }

  .form-title {
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
  }

  @each $icon in $icon-list {
    $i: index($icon-list, $icon);

    .icon-#{$i}:before {
      content: nth($icon-list, $i);
    }
  }

  @each $color in $color-list {
    $i: index($color-list, $color);

    &.tint-#{$i} {
      background: nth($color-list, $i);
    }
  }
}

.classroom-info-container {
  background: $gray-light;
  padding: 10px 45px 15px;
  @include clearAfter;

  .info {
    float: left;
    width: 50%;

    &:first-of-type {
      padding-right: 30px;
    }
  }

  h1, h2 {
    margin: 10px 0;
  }

  .title {
    color: $gray-dark-48;
    font-size: $f-size-md;
    font-weight: 700;

    .fa {
      margin-right: 8px;
    }
  }

  .content {
    font-size: $f-size-xl;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @each $color in $color-list {
    $i: index($color-list, $color);

    &.tint-#{$i} {
      background: rgba(nth($color-list, $i), 0.12);
    }
  }
}

.form-view-container {
  padding: 20px 0 40px;
}

.form-questions-container {
  .question {
    padding: 40px;

    .radio-option {
      display: table;
      width: 100%;
      clear: both;

      input {
        display: table-cell;
      }

      input[type="radio"] {
        margin-right: 7px;
        width: 20px;
        vertical-align: 2px;
      }

      input[type="text"] {
        margin-left: 0;
        width: calc(100% - 27px);
      }

      .radio-label {
        font-size: $f-size-md;
        font-weight: normal;
        margin-bottom: 0px;
        padding: 5px 0px 5px 3px;
        display: table-cell;
        width: 100%;
      }
    }

    .question-title {
      font-size: $f-size-md;
      font-weight: bold;
      margin-bottom: 5px;
      display: block;

      .edit-question {
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }

  .admin-question {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    position: relative;
    transition: $fast cubic-bezier(.64,.01,.4,.98);
    padding: 30px 40px;

    &:hover {
      background: #F9F9F9;
      border-top-color: $gray-dark-24;
      border-bottom-color: $gray-dark-24;
      box-shadow: 0px 1px 5px $gray-dark-12;
      padding-top: 60px;
      padding-bottom: 40px;

      .delete-question-button {
        display: block;
      }
    }

    &:hover .edit-label {
      opacity: 1;
      visibility: visible;
    }

    .question-title-part {
      display: table;
      margin-bottom: 10px;
      width: 100%;
    }

    .question-number {
      display: table-cell;
      padding-right: 15px;
      width: 20px;
    }

    .question-title {
      display: table-cell;
      width: 100%;
    }
  }

  .editing-true {
    @extend .admin-question:hover;
    box-shadow: none;

    &:before {
      background: $blue-84;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 2px;
    }
  }
}

.new-question-button {
  background: white;
  border: 1px solid $gray-dark-24;
  box-shadow: 0px 1px 5px $gray-dark-12;
  color: $gray-dark-60;
  position: absolute;
  bottom: -37px;
  left: 50%;
  opacity: 1;
  z-index: 10;
  @include transform(translateX(-50%));

  &:hover {
    color: $blue;
  }

  &:focus {
    background: white;
  }
}

.edit-label {
  color: $gray-dark-60;
  opacity: 0;
  position: absolute;
  top: 20px;
  transition: 400ms;
  visibility: hidden;
}

.delete-question-button {
  cursor: pointer;
  display: none;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  animation: fadein 500ms;
}

@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

