// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-container {
  background: white;
  border: 1px solid #D9D9D9;
  max-width: 700px;
  margin: 50px auto 0;
  padding: 20px;
  text-align: center;
}

.input-container {
  max-width: 300px;
  margin: 0 auto;
  & > input {
    margin: 10px auto;
    padding: 5px;
    width: 100%;
  }
}
