// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/variables";

.authentication-container {
  background: white;
  border: 1px solid $gray-light;
  border-radius: 2px;
  max-width: 500px;
  margin: 80px auto 0;
  padding: 35px 100px;
}

.login-title {
  font-size: $f-size-xxl;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

.login-links-container {
  text-align: center;
  width: 100%;
}

@media (max-width: 480px) {
  .login-container {
    background: transparent;
    border: none;
    padding: 35px;
  }
}

.form-row {
  .selectpicker {
    margin: 5px auto;
  }

  .state-select {
    max-width: 70px;
  }
}
