.authentication-container {
  @extend .content-container;
  max-width: 500px;
  margin: 80px auto;
  padding: 35px 100px;
}

.login-title {

  .back {
    color: $gray-dark-60;
    cursor: pointer;
    font-size: $f-size-xxl;
    padding: 2px 8px 5px 8px;
    position: absolute;
    &:hover {
      color: $gray-dark;
    }
  }

  h1 {
    font-size: $f-size-xxl;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }
}

.login-button, .register-button {
  width: 100%;
}

.login-links-container {
  text-align: center;
  width: 100%;

  a {
    cursor: pointer;
  }
}

.city-state-picker {
  @include clearAfter;

  .city {
    float: left;
    padding-right: 20px;
    width: 65%;
  }

  .state {
    float: left;
    width: 35%;
  }
}

.state-select, .grade-select {
  max-width: 100%;
  width: 100%;
}

@media (max-width: 480px) {
  .authentication-container {
    background: transparent;
    border: none;
    margin-top: 20px;
    padding: 35px;
  }
}
