$color-list: $red $orange $blue;

.teacher-classroom-filter {
  margin-bottom: 30px;

  .program-select {
    @include appearance(none);
    background-image: image-url("icons/menulist.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
    border: none;
    border-bottom: 2px solid $gray-light;
    border-radius: 0;
    cursor: pointer;
    font-size: $f-size-xl;
    outline: none;
    padding-bottom: 8px;
    padding-right: 15px;
    transition: $fast;

    optgroup {
      font-size: $f-size-md;
    }

    &:hover {
      border-color: $gray-dark-48;
    }
  }
}
// Classroom view
.classroom-card a {
  text-decoration: none;
  color: $gray-dark-84;
}

.teacher-classroom-container {
  @extend .content-container;
  background: transparent;
  border: none;
  margin: 0 auto;
  max-width: 1200px;
}

.classes-container-title {
  color: $gray-dark-72;
  font-size: $f-size-xl;
  font-weight: bold;
}

.classes-container {
  margin-bottom: 40px;
}

.inactive-class {
  .classroom-card {
    opacity: 0.5;
  }
}

//classroom
.classroom-card-col {
  display: inline-block;
  padding: 15px;
  vertical-align: middle;
  width: 33.33%;

  @media (min-width: 960px) {
    &:nth-of-type(3n) {
      padding-right: 0;
    }

    &:nth-of-type(3n-2) {
      padding-left: 0;
    }
  }
}

.classroom-card {
  background: white;
  border: 1px solid $gray-light;
  border-right: 0;
  cursor: pointer;
  height: 100%;
  padding: 20px;
  position: relative;
  transition: 100ms;

  .name-container {
    padding-right: 10px;
    width: 70%;

    .title {
      color: $gray-dark-84;
      font-size: 23px;
      font-weight: 700;
      overflow: hidden;
      margin: 0;
      margin-bottom: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .program {
      color: $gray-dark-84;
      font-size: $f-size-md;
      margin: 0;
    }
  }

  .count-container {
    height: 100%;
    padding-top: 20px;
    padding-right: 20px;
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    width: 30%;

    .count {
      font-size: 28px;
      margin: 0;
      margin-bottom: 5px;
    }

    .student-label {
      color: $gray-dark-84;
      font-size: $f-size-md;
      margin: 0;
    }
  }

  &:after {
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
  }

  @each $color in $color-list {
    $i: index($color-list, $color);
    &.classroom-#{$i}:hover {
      border-color: rgba(nth($color-list, $i), 0.36);
    }

    &.classroom-#{$i}:after {
      background: nth($color-list, $i);
    }
  }
}

.add-course {
  vertical-align: top;

  .add-card {
    background: transparent;
    border: 1px dashed $gray-dark-36;
    color: $gray-dark-60;
    font-size: $f-size-lg;
    font-weight: bold;
    padding: 32px 20px;
    text-align: center;
    transition: 100ms;

    &:hover {
      border: 1px dashed $blue;
      color: $blue;
    }

    .fa {
      margin-right: 10px;
    }
  }
}

.inactive-classroom {
  opacity: 0.4;
}

@media (max-width: 960px) and (min-width: 650px) {
  .classroom-card-col {
    width: 50%;

    &:nth-of-type(even) {
      padding-right: 0;
    }

    &:nth-of-type(odd) {
      padding-left: 0;
    }
  }
}

@media (max-width: 650px) {
  .teacher-classroom-container {
    padding: 20px;
  }
  .classroom-card-col {
    padding: 7px 0;
    width: 100%;
  }
}


// Teacher account view
.teacher-account-container {
  @extend .content-container;
  max-width: 500px;
  padding: 40px;

  .input-container {
    width: 100%;
    @include clearAfter;

    .label-container {
      display: inline-block;
      width: 30%;
    }

    .input-box-container {
      display: inline-block;
      width: 70%;
    }
  }

  .edit-button-container {
    margin-top: 10px;

    input {
      @extend .button-small;
      margin: 0;
      margin-right: 10px;
    }
  }
}

.teacher-account-header {
  font-size: $f-size-xxl;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}
