$color-list: $red $orange $blue;

.teacher-classroom-filter {
  .program-select {
    @include appearance(none);
    background-image: image-url("icons/menulist.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $gray-light;
    border-radius: 0;
    cursor: pointer;
    font-size: $f-size-xl;
    outline: none;
    padding-bottom: 8px;
    padding-right: 30px;
    transition: $fast;

    optgroup {
      font-size: $f-size-md;
    }

    &:hover {
      border-color: $gray-dark-48;
    }
  }
}

// Classroom list view
.teacher-classroom-filter {
  margin-bottom: 30px;
}

// Teacher account view
.teacher-account-container {
  @extend .content-container;
  max-width: 500px;
  padding: 40px;

  .input-container {
    width: 100%;
    @include clearAfter;

    .label-container {
      display: inline-block;
      width: 30%;
    }

    .input-box-container {
      display: inline-block;
      width: 70%;
    }
  }

  .edit-button-container {
    margin-top: 10px;

    input {
      @extend .button-small;
      margin: 0;
      margin-right: 10px;
    }
  }
}

.teacher-account-header {
  font-size: $f-size-xxl;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}
